<div class="author-add">
  <form method="POST" action="/authors/<%= author.id %>/edit">
    <label for="name">Name:</label>
    <input
      type="text"
      name="name"
      minlength="1"
      maxlength="100"
      value="<%= author.name %>"
    />
    <button type="submit">Add</button>
  </form>
</div>
