<div class="author-add">
  <form method="POST" action="/author/add">
    <label for="name">Name:</label>
    <input type="text" name="name" minlength="1" maxlength="100" />
    <button type="submit">Add</button>
  </form>
</div>
