<div class="author-info">
    <h4><%= author.name %></h4>
  <% for(const book of author.titles){ %>
  <ul>
      <li>
        <a href=<%=`/books/${book.id}`%>>
          <h5><%=book.title%></h5>
        </a>
      </li>
  </ul>
  <% } %>

</div>