<div class="genre-info">
    <h4><%= genre.name %></h4>
  <ul>
    <% for(const book of genre.titles){ %>
        <li>
          <a href=<%=`/books/${book.id}`%>>
            <h5><%=book.title%></h5>
          </a>
        </li>  <% } %>
  </ul>


</div>