<html>
  <link rel="stylesheet" href="header.css" />
  <link rel="stylesheet" href="index.css" />
  <body>
    <header>
      <h1>Booksore inventory</h1>
      <div>
        <a href="/books">Books</a>
        <a href="/authors">Authors</a>
        <a href="/genres">Genres</a>
      </div>
    </header>
    <div class="index-content">
      <h2>Welcome ot bookstore inventory!</h2>
      <p>Manage your bookstore inventory with easy to use application!</p>
      <a href="/books">
        <div>
          <h3>Books</h3>
          <p><%= index.booksCount%></p>
        </div>
      </a>
      <a href="/authors">
        <div>
          <h3>Authors</h3>
          <p><%= index.authorsCount%></p>
        </div>
      </a>
      <a href="/genres">
        <div>
          <h3>Genres</h3>
          <p><%= index.genresCount%></p>
        </div>
      </a>
    </div>
  </body>
</html>
